@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.ttf); }

@font-face {
  font-family: EXO;
  src: url(../fonts/EXO.otf); }

html {
  font-size: 10px; }

body {
  font-family: Roboto;
  font-size: 1.8rem; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

input {
  border: 1px #04891b solid;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

button {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #04891b;
  border: 0;
  color: #eee;
  font-size: 2rem; }

.sign {
  height: 100vh;
  min-height: 600px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sign .header {
    width: 100%;
    height: 7vh;
    min-height: 50px;
    background-color: #04891b;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sign .header .title {
      font-family: EXO;
      color: #eee;
      font-size: 3.8rem;
      padding: 1rem;
      margin-top: -0.6rem; }
  .sign .sign-box {
    align-items: center;
    height: 100vh;
    min-height: 600px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    overflow: auto; }
    .sign .sign-box .sign-form {
      background-color: #fff;
      padding: 1rem 1.8rem;
      border: 1px #04891b solid;
      display: flex;
      flex-direction: column;
      align-self: center; }
      .sign .sign-box .sign-form h3 {
        margin-top: 1rem;
        font-size: 2.6rem; }
      .sign .sign-box .sign-form input {
        margin-top: 2rem; }
      .sign .sign-box .sign-form button {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
        align-self: flex-start; }

@media only screen and (max-width: 768px) {
  .sign .sign-box {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start; }
    .sign .sign-box .sign-form {
      margin-top: 2rem; }
    .sign .sign-box .sm-position-sign-in {
      order: -1; } }
