@media only screen and (max-width: 768px) {
.sign {
  min-height: 0;
  height: 100%;
  .sign-box {
    min-height: 0;
    height: auto;
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 2rem;

    .sign-form {
      margin-top:2rem;
    }
  }

  .sm-position-sign-in {
    order: -1;
  }
}
}


@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}

